#mainContainer {
  background-image: url("./assets/Background.png");
  background-position: center;
  height: 100%;
  width: 100%;
}

.center {
  text-align: center;
}

.home-button {
  width: 80%;
  max-width: 500px;
}
